/* Increase the global font size on larger screens */
@media (min-width: 70em) {
    body {
        font-size: 130%; 
    }
}

body {
    padding: 5em;
    margin: 0 auto;
    max-width: 90em;
}


/* Text edits*/
/* med font-face definerer font-family variabel navn*/
@font-face {
    font-family: headerFont;
    src: url('sansation_light.woff');
}

h1 {
    font-family: headerFont;
    padding: 10px;
}
 
p {
    font: 15px helvetica, Arial, sans-serif;
} 


/* Navigeringsmeny*/
nav {
    background-color: #E5CD9A;
    width: fit-content(20em);
    align-items: center;
}
menu li, a:link {
    font-family: Arial, Helvetica, sans;
    display: inline-block;
    padding: 8px 16px;
    list-style-type: none;
    text-decoration: none;
}


/* The page (a-link) in menu being visited */ 
a:visited {
    color: #F29580;
} 
a:hover {
    color: #32598C;
}


img {
    max-width: 50%;
    height: auto;
    padding: 1em;
    position: relative;
    left: 15em;
    top: 15em;
}


.about_text {
    font-family: 'Times New Roman', Times, serif;
    font-size: medium;
}

* {
    font-family: headingFont;
}

