/* Increase the global font size on larger screens */
@media (min-width: 70em) {
    body {
        font-size: 130%; 
    }
}

body {
    margin: 1 auto;
    max-width: fit-content;
}

.grid {
    display: inline-flex;
    min-width: none;
}

/* Text edits*/
/* med font-face definerer font-family variabel navn*/
/* , edits both, but if it's reedited further down it overrules.*/
h1, h2, h3, p, a, .about_text, .some, small{
    font-family: "Nunito Sans",
        -apple-system,
        ".SFNSText-Regular",
        "San Francisco",
        BlinkMacSystemFont,
        "Segoe UI",
        "Helvetica Neue",
        Helvetica,
        Arial,
        sans-serif;
    margin: 10px;
    color:#32598C;
} 

/*sets the color and size of the paragraphs. Same font as h1,h2*/
p {
    font-size: small;
    color: #F29580;
} 

.about_text {
    font-size: medium;
    color:blanchedalmond;
}

small {
    font-style: italic;
    color: whitesmoke;
    position: absolute; /*fixed position within the footer object*/
    bottom: 0%;
    right: 0%;
    
}

footer {
    background-color:#32598CF1;
    position: absolute;
    min-width: 100%; /*covers whole screen*/
    bottom:0%;
    left:0%;
}

.some {
    display: inline-flex;
    padding: 1%;  
}

.some .somemenu, .somelink {
    display: inline;
    text-decoration: underline;
    list-style-type: none;
    font-size: small;
    color: whitesmoke;
}

/* Navigeringsmeny*/
header {
    min-width: 100%;
    align-items: center;
    margin: 0%;
}

.navli, .nava {
    display: inline-block;
    justify-content: left;
    text-decoration: none;   /*takes away the underline of links*/
    list-style-type: none;
    color:#32598C;
    background-color: #F29580;
}


/* The page (a-link) in menu being visited */
a:hover {
    color:#E5CD9A;
}
a:active {
    color: #F29580;
}




img {
    max-width: 50%;
    height: auto;
    padding: 1em;
    position: center;
    left: 15em;
    top: 15em;
}
